button {
  padding: 5px 10px;
  border: 1px solid black;
  color: black;
  background: white;
  text-transform: uppercase;
  &:hover {
    color: whitesmoke;
    background: black;
    border: 1px solid whitesmoke;
  }
}
