@use "../layout/variable";

@font-face {
  font-family: "Merri";
  src: url(../font/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merri";
}
img {
  display: block;
}
body {
  height: 100vh;
  p {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  h1,
  h2,
  h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  h1 {
    @include variable.title;
  }
}
